{
  // For US users, uncomment the two lines below to get Fahrenheit and 12-hour time
  //   "system_unit": "imperial",
  //   "time_format": "half",
  "play_wav_cmdline": "afplay %1",
  "play_mp3_cmdline": "afplay %1",
  "enable_old_audioservice": true,
  "disable_ocp": false,
  "fake_barge_in": false,
  "stt": {
    "module": "ovos-stt-plugin-chromium",
    "fallback": { "module": "ovos-stt-plugin-server" }
  },
  "hotwords": {
    "hey_mycroft_vosk": { "active": false, "listen": false },
    "hey_mycroft_pocketsphinx": { "active": false, "listen": false }
  },
  "listener": {
    "silence_end": 0.5,
    "recording_timeout": 7,
    "fake_barge_in": false,
    "barge_in_volume": 60,
    "microphone": {
      "module": "ovos-microphone-plugin-pyaudio"
    },
    "VAD": {
      "module": "ovos-vad-plugin-silero",
      "ovos-vad-plugin-silero": {
        "threshold": 0.5
      }
    }
  },
  "padatious": {
    "regex_only": false
  }
}
