{
  // For US users, uncomment the two lines below to get Fahrenheit and 12-hour time
  //   "system_unit": "imperial",
  //   "time_format": "half",
  "play_wav_cmdline": "afplay %1",
  "play_mp3_cmdline": "afplay %1",
  "enable_old_audioservice": true,
  "disable_ocp": false,
  "listener": {
    "silence_end": 0.5,
    "recording_timeout": 7,
    "microphone": {
      "module": "ovos-microphone-plugin-pyaudio"
    },
    "VAD": {
      "module": "ovos-vad-plugin-silero",
      "ovos-vad-plugin-silero": {
        "threshold": 0.5
      }
    }
  },
  "padatious": {
    "regex_only": false
  },
  "Audio": {
    "default_backend": "vlc",
    "backends": {
      "OCP": {
        "classifier_threshold": 0.4,
        "min_score": 50,
        "filter_media": true,
        "filter_SEI": true,
        "search_fallback": true,
        "legacy_cps": false,
        "playback_mode": 40,
        "preferred_audio_services": ["vlc"],
        "legacy": false,
        "autoplay": true,
        "disable_mpris": true,
        "manage_external_players": true,
      },
      "vlc": {
        "type": "ovos_vlc",
        "active": true
      }
    }
  }
}
