<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ovos.admin-phal</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ ovos_repo_dest }}/.venv/bin/python</string>
        <string>{{ ovos_repo_dest }}/ovos_PHAL_admin</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>{{ ovos_repo_dest }}</string>
    <key>StandardOutPath</key>
    <string>{{ ovos_log_dir }}/admin-phal.log</string>
    <key>StandardErrorPath</key>
    <string>{{ ovos_log_dir }}/admin-phal.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{ ovos_repo_dest }}/.venv/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PYTHONPATH</key>
        <string>{{ ovos_repo_dest }}</string>
        <key>VIRTUAL_ENV</key>
        <string>{{ ovos_repo_dest }}/.venv</string>
    </dict>
    <key>UserName</key>
    <string>root</string>
</dict>
</plist>
