<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ovos.messagebus</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ ovos_repo_dest }}/ovos_messagebus</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>{{ ovos_repo_dest }}</string>
    <key>StandardOutPath</key>
    <string>{{ ovos_config_dir }}/logs/messagebus.log</string>
    <key>StandardErrorPath</key>
    <string>{{ ovos_config_dir }}/logs/messagebus.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>OVOS_BUS_CONFIG_FILE</key>
        <string>{{ ansible_env.HOME }}/.config/mycroft/mycroft.conf</string>
    </dict>
</dict>
</plist>
