{{ ansible_env.USER }} ALL=(ALL) NOPASSWD: /usr/sbin/systemsetup
{{ ansible_env.USER }} ALL=(ALL) NOPASSWD: /usr/sbin/shutdown
{{ ansible_env.USER }} ALL=(ALL) NOPASSWD: /usr/bin/sntp
{{ ansible_env.USER }} ALL=(ALL) NOPASSWD: /usr/bin/defaults
